body {
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: "Quicksand", sans-serif !important;
  color: rgb(48, 79, 79) !important;
}

.grid {
  display: grid;
  width: 100%;
  position: relative;
  border: solid 0.5px #d1d1d1;
  background-color: #cec9c9;
  box-sizing: border-box;
  border-radius: 5px;
  /* overflow: hidden; */
  zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
}
.grid-square {
  background-color: white;
  border: solid 0.5px #d1d1d1;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
}
.grid-square::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

h1 {
  cursor: default;
}

span {
  cursor: default;
}

/* Classes for animated ripple fills */

.visitedSunset {
  animation: sunsetVisitedRipple 0.8s linear forwards !important;
}

.visitedOcean {
  animation: oceanVisitedRipple 0.8s linear forwards !important;
}

.visitedChaos {
  animation: chaosVisitedRipple 0.8s linear forwards !important;
}

.visitedGray {
  animation: grayVisitedRipple 0.8s linear forwards !important;
}

.visitedGreen {
  animation: greenVisitedRipple 0.8s linear forwards !important;
}

.visitedCottonCandy {
  animation: cottonCandyVisitedRipple 0.8s linear forwards !important;
}

.obstacle {
  animation: obstacleRipple 0.2s linear forwards;
}

.weight {
  background-image: url("./assets/weight-solid.svg");
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 75% 75% !important;
  opacity: 0.8;
  border: solid 0.5px #d1d1d1;
  background-color: white;
  animation: genericRipple 0.2s linear forwards;
}

.path {
  animation: pathRipple 0.1s linear forwards;
}

.start {
  background-color: #d1d1d1;
  background-image: url("./assets/dot-circle-solid.svg");
  border: solid 0.5px #d1d1d1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  animation: genericRipple 0.8s linear forwards;
}

.finish {
  background-color: #d1d1d1;
  background-image: url("./assets/star-regular.svg");
  border: solid 0.5px #d1d1d1;
  background-repeat: no-repeat;
  animation: genericRipple 0.8s linear forwards;
}

.currentNodeSunset {
  background-color: #ff00e6;
  border: solid 0.5px #d1d1d1;
  border-radius: 70%;
  transform: scale(0.85);
}

.currentNodeOcean {
  background-color: #ffff00;
  border: solid 0.5px #d1d1d1;
  border-radius: 70%;
  transform: scale(0.85);
}

.currentNodeChaos {
  background-color: #ffff00;
  border: solid 0.5px #d1d1d1;
  border-radius: 70%;
  transform: scale(0.85);
}

.currentNodeGray {
  background-color: #ffff00;
  border: solid 0.5px #d1d1d1;
  border-radius: 70%;
  transform: scale(0.85);
}

.currentNodeGreen {
  background-color: #ff00e6;
  border: solid 0.5px #d1d1d1;
  border-radius: 70%;
  transform: scale(0.85);
}

.currentNodeCottonCandy {
  background-color: #ffff00;
  border: solid 0.5px #d1d1d1;
  border-radius: 70%;
  transform: scale(0.85);
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: rgb(48, 79, 79) !important;
  color: white !important;
}

.btn-dark {
  background-color: rgb(48, 79, 79) !important;
}

.btn-dark:hover:enabled {
  background-color: rgb(20, 50, 50) !important;
}

.btn:disabled {
  cursor: default;
}

.font-small {
  font-size: 14px;
}

#tutorial {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(32, 54, 54);
  z-index: 1000;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  border: solid 3px white;
  overflow: hidden;
}

#tutorialText {
  overflow: auto !important;
  line-height: 1.6;
}

#tutorialText::-webkit-scrollbar {
  display: none;
}

.tab {
  padding-left: 30px;
}
/* Hide scrollbar for IE and Edge */
#tutorialText {
  -ms-overflow-style: none;
}

.x-out {
  font-size: 24px;
  position: absolute;
  right: 14px;
  top: 5px;
  transition: 0.3s ease;
  color: white;
}

.x-out:hover {
  color: rgb(163, 160, 160);
  transition: 0.3s ease;
  cursor: pointer;
}

@keyframes sunsetVisitedRipple {
  0% {
    transform: scale(0.3);
    background-color: #03071e;
    border-radius: 100%;
  }

  25% {
    transform: scale(0.6);
    background-color: #6a040f;
  }

  50% {
    background-color: #d00000;
  }

  75% {
    transform: scale(1.2);
    background-color: #e85d04;
  }

  100% {
    transform: scale(1);
    background-color: #ffba08;
  }
}

@keyframes oceanVisitedRipple {
  0% {
    transform: scale(0.3);
    background-color: #05668d;
    border-radius: 100%;
  }

  25% {
    transform: scale(0.6);
    background-color: #028090;
  }

  50% {
    background-color: #00a896;
  }

  75% {
    transform: scale(1.2);
    background-color: #02c39a;
  }

  100% {
    transform: scale(1);
    background-color: #51e0a4;
    border-color: #d1d1d1;
  }
}

@keyframes chaosVisitedRipple {
  0% {
    transform: scale(0.3);
    background-color: #290628;
    border-radius: 100%;
  }

  25% {
    transform: scale(0.6);
    background-color: #3b0086;
  }

  50% {
    background-color: #6200b3;
  }

  75% {
    transform: scale(1.2);
    background-color: #b43e8f;
  }

  100% {
    transform: scale(1);
    background-color: #ea7af4;
  }
}

@keyframes grayVisitedRipple {
  0% {
    transform: scale(0.3);
    background-color: #53585c;
    border-radius: 100%;
  }

  25% {
    transform: scale(0.6);
    background-color: #5f6468;
  }

  50% {
    background-color: #82868a;
  }

  75% {
    transform: scale(1.2);
    background-color: #94999c;
  }

  100% {
    transform: scale(1);
    background-color: #a6aaad;
  }
}

@keyframes greenVisitedRipple {
  0% {
    transform: scale(0.3);
    background-color: #578d84;
    border-radius: 100%;
  }

  25% {
    transform: scale(0.6);
    background-color: #64af96;
  }

  50% {
    background-color: #63c077;
  }

  75% {
    transform: scale(1.2);
    background-color: #96eb61;
  }

  100% {
    transform: scale(1);

    background-color: #adfa60;
  }
}

@keyframes cottonCandyVisitedRipple {
  0% {
    transform: scale(0.3);
    background-color: #67c3e7;
    border-radius: 100%;
  }

  25% {
    transform: scale(0.6);
    background-color: #87bde7;
  }

  50% {
    background-color: #aaaddd;
  }

  75% {
    transform: scale(1.2);
    background-color: #e0aedb;
  }

  100% {
    transform: scale(1);
    background-color: #f7abcc;
  }
}

@keyframes obstacleRipple {
  0% {
    transform: scale(0.3);
    background-color: rgba(15, 26, 26, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(19, 33, 33, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(32, 54, 54, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgb(47, 79, 79);
    border-color: rgb(47, 79, 79);
  }
}

@keyframes pathRipple {
  0% {
    transform: scale(0.3);
    background-color: rgba(77, 77, 77, 0.75);
    border-radius: 100%;
    border-color: white;
  }

  50% {
    background-color: #777979;
  }

  75% {
    transform: scale(1.2);
    background-color: #abadad;
  }

  100% {
    transform: scale(1);
    background-color: #d1d1d1;
    border-color: #d1d1d1;
  }
}

@keyframes genericRipple {
  0% {
    transform: scale(0.3);
  }

  25% {
    transform: scale(0.6);
  }

  50% {
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1) !important;
  }
}
